<div *ngIf="poke as pokemon" class="poke-card">
  <div class="pokemon-image">
    <img
      loading="lazy"
      alt="pokemon image"
      [src]="pokemon.sprites.front_default"
    />
  </div>
  <div class="card-details">
    <div class="pokemon-name">{{ pokemon.species.name }}</div>
    <div class="pokemon-number">Nº{{ pokemon.id }}</div>
  </div>
  <div class="poke-type">
    <div
      *ngFor="let type of pokemon.types"
      [ngStyle]="{
        'mask-image': 'url(assets/images/' + type.type.name + '.svg)',
        '-webkit-mask-image': 'url(assets/images/' + type.type.name + '.svg)',
        'background-color': colors[type.type.name]
      }"
    ></div>
  </div>
</div>
