:root{
    /* General */
    --font-color: rgba(40,40,40,0.85);
    --wallpaper: url(~/assets/images/wallpaper.jpg);

    /* Cards */
    --card-background: rgba(255, 255, 255, 0.45);

    --card-type-background: rgba(255, 255, 255, 0.65);

    --card-details-color: rgba(0, 0, 0, 0.78);
    --card-datails-number-color: #8e8e8e;
    --card-details-background: rgba(255, 255, 255, 0.65);

    /* Sidebar */
    --sidebar-background-color: rgba(255, 255, 255, 0.9);
    --sidebar-type-icon-background-color: rgba(40,40,40);
}

.dark-mode{
    /* General */
    --font-color: rgba(255,255,255,0.85);
    --wallpaper: url(~/assets/images/wallpaper-dark.jpg);

    /* Cards */
    --card-background: rgba(40, 40, 40, 0.45);

    --card-type-background: rgba(40, 40, 40, 0.65);

    --card-details-color: rgba(255, 255, 255, 0.78);
    --card-datails-number-color: #8e8e8e;
    --card-details-background: rgba(40, 40, 40, 0.65);
    
    /* Sidebar */
    --sidebar-background-color: rgba(40, 40, 40, 0.9);
    --sidebar-type-icon-background-color: rgba(255,255,255,0.6);
}